@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300&display=swap");

$josefin: "Josefin Sans", sans-serif;
$jost: "Jost", sans-serif;
$dark-color: #ffffff;
$light-color: #ffffff;
$nav-color: #1890ff;
$light-bg: #bae7ff;
$darker-bg: #91d5ff;
$text-color: #005dff;

@mixin desktop {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin tab {
  @media (max-width: 800px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin smalldisplay {
  @media (max-width: 400px) {
    @content;
  }
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-image: url("https://cdn.pixabay.com/photo/2019/04/10/11/56/watercolour-4116932_1280.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  nav {
    font-family: $josefin !important;
    justify-content: center;
    align-items: center;
    position: fixed !important;
    z-index: 100 !important;
    width: 100% !important;
  }
}
.navbar.bg-dark{
  background-color: $nav-color !important;
}
.navbar-dark .navbar-toggler {
  border-color: none !important;
  border: 0px !important;
}
.container {
  display: block;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 80vh;
  h1 {
    width: 100vw;
    text-align: center;
    font-family: $josefin;
    font-size: clamp(25px, 2rem, 2.5rem) !important;
    margin: 0;
    color: $text-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  button {
    text-align: center;
    font-family: $josefin;
    margin: 0;
    position: absolute;
    top: 60%;
    padding: 0.7rem;
    transform: translateX(-0%) !important;
    border-radius: 6px;
    background-color: $nav-color;
    transition: all 0.5s ease;
    border: 0;
    &:hover {
      transition: all 0.5s ease;

      background-color: $text-color;


    }
    @include mobile() {
      transform: translateX(-50%) !important;
    }
  }
}

svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
  #darkGroup {
    fill: $dark-color;
  }
  #light,
  #dark1,
  #dark2 {
    transition: all 1s ease;

  }
  
  #lightGroup {
    fill: $light-color;

  }
}
#light{
  animation:light 1s linear 1s infinite alternate;

}
#dark1{
  animation:dark1 1s linear 1s infinite alternate;

}
#dark1{
  animation:dark2 1s linear 1s infinite alternate;

}
@keyframes light{
  0%{

  }
  100%{
    transform: translateX(30%);

  }
}
@keyframes dark1{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(50%);
    opacity: 0;
  }
}
@keyframes dark2{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
  }
}
/*
for swiper 
*/
.swiper-container {
  width: 100%;
  height: 80vh;
  @include mobile() {
    height: 60vh;
  }
  .swiper-slide {
    overflow: hidden;
    text-align: center;
    height: 100% !important;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    a {
      text-decoration: none;
      color: #000;
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background: #fff !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff !important;
  }
}
.products {
  background-color: $light-bg;
  h1 {
    text-align: center;
    font-family: $josefin;
    font-weight: 500;
    padding: 1rem;
    margin-bottom: 0 !important;
    color: $text-color;
    font-size: clamp(20px, 2.5rem, 2.5rem);
    @include mobile() {
      font-size: clamp(20px, 1.5rem, 2.5rem);
    }
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0.5rem;
    margin-bottom: 0;

    @include mobile() {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
      padding: 0.5rem;
      margin: 0;
    }
    @include smalldisplay() {
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
      grid-gap: 0.5rem;
      margin: 0.5rem;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    .card {
      overflow: hidden;
      width: 100%;
      height: auto;
      padding: 0.5rem;
      outline: none;
      border: 0px !important;
      background-color: $darker-bg;
      color: #02b875 !important;
      &:hover {
        h1 {
          text-decoration: underline;
        }
      }
      .card-img {
        width: 100%;
        height: 50%;
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-radius: 3px;
        }
      }
      .card-details {
        h1 {
          color: $text-color;
          font-size: clamp(20px, 1.2rem, 2rem);
          text-align: left;
          padding-bottom: 0rem;
          padding-top: 0.8rem;
          margin: 0;
          padding-left: 0;
        }
        p {
          color: $text-color;

          font-size: clamp(0.7px, 0.8rem, 1.2rem);
          font-family: $jost;
          text-decoration: none;
        }
      }
      .card-footer {
        a {
          font-family: $jost !important;
          height: 100%;
          width: 100%;
          button {
            background: #45d194 !important;
          }
        }
      }
    }
  }
}
.returnpolicy{
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: #005dff;
  font-family: $josefin !important;
  @include mobile(){
    padding: 1rem;
  }
  h3{
    font-family: $josefin;
    color: #fff;
  }
  p{
    font-family: $jost;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #fff;
  }
  a{
    color: #006d;
  }
}
.copyright{
  display: flex !important;
  position: relative;
  align-items: center;
  justify-content: center !important;
  height: 60px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: $josefin;
  letter-spacing: 0.1em;
  overflow: hidden;
  font-size: clamp(15px, 1rem, 1.1rem);
  background-color: $nav-color;
}