@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300&display=swap");

$josefin: "Josefin Sans", sans-serif;
$jost: "Jost", sans-serif;
$dark-color: #ffffff;
$light-color: #ffffff;
$nav-color: #1890ff;
$light-bg: #bae7ff;
$darker-bg: #91d5ff;
$text-color: #005dff;

@mixin desktop {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin tab {
  @media (max-width: 800px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin smalldisplay {
  @media (max-width: 400px) {
    @content;
  }
}
::-webkit-scrollbar {
  display: none;
}
.swiper-container {
  width: 100%;
  height: 70vh !important;
  @include mobile() {
    height: 100% !important;
  }
  .swiper-slide {
    overflow: hidden;
    text-align: center;
    height: 100% !important;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    a {
      text-decoration: none;
      color: #343a40;
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background: #fff !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff !important;
  }
}
.product-details {
  padding-top: 50px;
  background-color: #fff;
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    grid-gap: 2rem;
    margin: 0;
    @include mobile() {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
      padding: 1.5rem;
    }
    .product-img {
      width: 100%;
      overflow-x: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .product-info {
      color: #343a40;
      h1 {
        font-family: $josefin;
        font-size: clamp(18px, 2rem, 2.5rem);
        @include mobile() {
          font-size: clamp(18px, 1.7rem, 1.7rem);
        }
      }
      h3 {
        font-family: $josefin;
        font-size: clamp(18px, 1.2rem, 1.5rem);
      }
      p {
        font-family: $jost;
        font-size: 1rem;
        @include mobile() {
          font-size: 0.9rem;
        }
      }
      #phonecall {
        transform: translate(20px, 20px);
        opacity: 0;
        transition: all 0.5s ease;
        @include tab() {
          transform: translate(0);
          opacity: 1;
        }
      }
      a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        background-color: $nav-color;
        font-family: $jost;
        color: #fff;
        font-size: clamp(15px, 1.1rem, 1.5rem);
        box-sizing: border-box;
        transition: 0.3s ease;
        box-shadow: 5px 3px 0px $text-color, -5px -3px 0px $nav-color;
        &:hover {
          text-decoration: none;
          transition: 0.3s ease;
          box-shadow: 5px 5px 10px $nav-color, -5px -5px 10px $text-color;
          #phonecall {
            transform: translate(0);
            opacity: 1;
            transition: all 0.5s ease;
          }
        }
      }
      .card-footer {
        margin-top: 1rem !important;
        background-color: transparent !important;
        outline: none;
        border: 0px !important;
        padding: 0px !important;
      }
    }
  }
}
.additional-details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.3rem;
  font-size: clamp(15px, 1.1rem, 1.2rem) !important;
  li {
    text-align: left;
  }
}
.reviews {
  padding: 2rem;
  margin: 0.5rem;
  p {
    padding: 0.5rem !important;
  }
  @include mobile() {
    padding: 0.5rem;
    margin: 0;
  }
}
form {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  padding: 2rem;
  grid-gap: 0;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 0px 1.4px -71px rgba(0, 0, 0, 0.022),
    0 0px 3.4px -71px rgba(0, 0, 0, 0.032),
    0 0px 6.4px -71px rgba(0, 0, 0, 0.04),
    0 0px 11.4px -71px rgba(0, 0, 0, 0.048),
    0 0px 21.3px -71px rgba(0, 0, 0, 0.058),
    0 0px 51px -71px rgba(0, 0, 0, 0.08);
  font-family: $josefin !important;
  @include mobile(){
    padding: 0.8rem;
    padding-top: 1.5rem;
  }
  label {
    padding-top: 1rem;
    @include mobile() {
      padding-top: 0.8rem;
    }
    padding-left: 0.9rem;
  }
  legend {
    margin: 0 !important;
  }
  input {
    width: 100%;
    outline: none;
    border: 0px;
    padding: 0.5rem;
    padding-left: 1.5rem;
    border-radius: 50px;
    font-family: $jost !important;
  }
  textarea {
    outline: none;
    padding: 0.5rem;
    border: 0px;
    padding-left: 1.5rem;
    font-family: $jost !important;
    letter-spacing: 0.1rem;
    border-radius: 8px;
  }
  button {
    color: #fff !important;
    border-radius: 50px !important;
    background-color: #747474 !important;
    font-family: $jost !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    letter-spacing: 0.08em;
    transition: all 0.5s ease !important;
    @include mobile(){
      background-color: #005dff !important;
      margin-top: 0.5rem;
    }

    &:hover {
      background-color: #005dff !important;
      transition: all 0.5s ease !important;
    }
  }
}
